html, body {
  max-width: 1280px;
  padding: 2rem;
  font-family: monospace !important;
  font-size: 13px;
}

h2 {
  font-weight: bold;
}

button {
  font-weight: bold !important;
}

select {
  font-weight: bold !important;
}

.red-hr {
  border-color: blue;
  border-width: 2px;
  opacity: 0.6;
}

